.logo {
    font-size: 2em;
    color: gold;
}

/* Article styling */
article {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

/* Headings inside article */
article h1, article h2, article h3 {
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Links inside article */
article a {
    color: #0066cc;
    text-decoration: none;
}
article a:hover {
    text-decoration: underline;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}


main {
    display: flex;
    flex-direction: row;
    flex: auto; 
}


article {
    flex: 2;
    overflow-y: auto;
}


aside {
    flex: 1;
    overflow-y: auto;
}
